/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body,
html {
    height: 100%;
    overflow: hidden;
}

/* Background com blur */
.background {
    background: url('../assets/background_login.jpg') no-repeat center center/cover;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
}

/* Container do login */
.login-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(29, 29, 29, 0.9);
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.4);
    text-align: center;
    width: 90%;
    max-width: 400px;
    color: #ECECEC;
}

.logo {
    width: 100%;
    margin-bottom: 20px;
}

h1 {
    font-size: 1.2rem;
    margin-bottom: 30px;
    color: #ECECEC;
}

h1 span {
    color: #CF291D;
}

/* Campos de entrada */
input {
    width: 100%;
    padding: 12px;
    margin-bottom: 15px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
}

input:focus {
    outline: 2px solid #CF291D;
}

/* Botão */
button {
    width: 100%;
    padding: 12px;
    background-color: #CF291D;
    color: #FFF;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #a31f17;
}

/* Erro */
.erro-msg {
    margin-top: 10px;
    color: #ff6b6b;
    font-size: 0.9rem;
}